@import '../var/variable';
@import '../var/mixins';
$bgMain: #002e7a;
$borderColorMain: #0147c9;
// light
$bgMain_l: #eef2f7;
$borderColorMain_l: #0a82e5;
$fontColor_l: #222222;
$borderColor_l: #c3c9d5;
.base-tab-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1;
  height: 34px;
  &-prev,
  &-next {
    flex-basis: 34px;
    line-height: 34px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
  }
  &-wrap {
    flex: 1;
    overflow: hidden;
    margin: 0 -1px;
    transition: all 0.2s ease-in-out;
    position: relative;
    &__inner {
      transition: all 0.2s ease-in-out;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}

.base-tab-pane {
  padding: 10px;
}
// 暗色调主题
[data-effect='dark'] {
  .base-tab-header {
    background-color: rgba($bgMain, 0.7);
    border-bottom: 1px solid $--color-warning;
    .base-tab-prev,
    .base-tab-next {
      background-color: rgba(#002e7a, 0.7);
      &:hover {
        color: darken(white, 8%);
      }
    }
    .base-tab-prev {
      box-shadow: 1px 0 0 0 $borderColorMain;
    }
    .base-tab-next {
      box-shadow: -1px 0 0 0 $borderColorMain;
    }
  }
}

// 亮色调主题
[data-effect='light'] {
  .base-tab-header {
    border-top: 1px solid $borderColor_l;
    background-color: $bgMain_l;
    color: $fontColor_l;
    border-bottom: 1px solid $borderColorMain_l;
    &-prev,
    &-next {
      color: #9d9ea2;
      background-color: $bgMain_l;
      border-left: 1px solid $borderColor_l;
      border-right: 1px solid $borderColor_l;
    }
    // &-prev {
    //   box-shadow: 1px 0 0 0 $borderColor_l;
    // }
    // &-next {
    //   box-shadow: -1px 0 0 0 $borderColor_l;
    // }
    &-wrap {
      box-shadow: 0 -1px 0 0 $borderColorMain_l inset;
    }
  }

  .base-tab-pane {
    border: 1px solid $borderColorMain_l;
    border-top: none;
  }
}

.base-tab-item {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-size: 14px;
  justify-content: center;
  height: 34px;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  &__active {
    border-top-width: 2px;
    font-weight: bold;
  }
  &-icon {
    margin-right: 5px;
    font-weight: normal;
  }
}
// 暗色调主题
[data-effect='dark'] {
  .base-tab-item__active {
    border: 1px solid $--color-warning;
    border-bottom-color: rgba($bgMain, 0.7);
  }
}
// 亮色调主题
[data-effect='light'] {
  .border.base-tab-item {
    border-left: 1px solid $borderColor_l;
  }
  .base-tab-item__active {
    border: 1px solid $borderColorMain_l;
    border-bottom-color: #fff;
    border-top-color: $borderColorMain_l;
    background-color: #fff;
    color: $borderColorMain_l;
  }
}

.sc-plain-tab {
  padding: 10px 0;
  font-size: 14px;
  &.is-center {
    text-align: center;
  }
  &.is-left {
    text-align: left;
  }
  &.is-right {
    text-align: right;
  }
  &item {
    min-width: 80px;
    position: relative;
    & ~ & {
      margin-left: 15px;
    }
    display: inline-block;
    padding: 6px 10px 10px;
    cursor: pointer;
    .tab-text {
      transition: color 0.2s ease-in-out;
    }
    &:hover,
    &.is-active {
      .tab-text {
        color: $--color-primary;
      }
    }
    &.is-active {
      .tab-text {
        font-weight: bold;
      }
      .active-line {
        background-color: $--color-primary;
        width: 40%;
      }
    }

    .active-line {
      transition: width 0.2s ease-in-out, background-color 0.15s ease-in-out;
      position: absolute;
      bottom: 0;
      background-color: #fff;
      width: 0;
      height: 3px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
