@import '../var/variable';
@import '../var/mixins';

.base-action-footer {
  @include clearfix();
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: fixed;
  background-color: #fff;
  display: flex;
  .content {
    flex: 1;
    float: left;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
}
