@import '../var/variable';
@import '../var/mixins';
.circle__tag {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
.circle__tag--green {
  background: $--color-success;
}
.circle__tag--gray {
  background: $--color-info;
}
.circle__tag--red {
  background: $--color-danger;
}
.circle__tag--blue {
  background: $--color-primary;
}
.up-regulation__tag {
  color: $--color-danger;
}
.down-regulation__tag {
  color: $--color-success;
}
