@import '../var/variable';
@import '../var/mixins';
$defaultColor: #e9e9e9;
$activeColor: $--color-primary;
$itemHeight: 36px;
$baseFontColor: #212121;
$transitionTime: 0.2s;
.flow-sub {
  padding-left: 1px;
  transition: height $transitionTime ease-in-out;
  overflow: hidden;
}
.flow-root {
  padding: 20px 0 20px 24px;
  font-size: 14px;
  position: relative;
  line-height: 1;
  background-color: #fff;
  .link-collase {
    cursor: pointer;
    width: 30px;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    &:hover {
      color: $activeColor;
    }
  }
  .flow-root__item,
  .flow-sub__item {
    display: block;
    overflow: visible;
    word-wrap: unset;
    white-space: nowrap;
  }
  // .flow-sub__item {
  //   &.active {
  //     color: $activeColor;
  //   }
  // }
  // 文本节点通用样式
  .flow-root__link,
  .flow-sub__link {
    @extend %v-middle;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: lighten($activeColor, 8%);
    }
    &.disabled {
      color: #aaa;
      cursor: default;
      pointer-events: none;
    }
    &.active {
      font-weight: bold;
      color: $activeColor;
    }
  }
  // root文本样式
  .flow-root__link {
    font-size: 14px;
    padding: 15px 8px;
    font-weight: bold;
    color: $baseFontColor;
    @include text-overflow {
      width: 70%;
      width: calc(100% - 30px);
    }
  }
  // sub子文本样式
  .flow-sub__link {
    @include text-overflow;
    font-size: 14px;
    padding: 12px 6px;
    font-weight: normal;
    color: lighten($baseFontColor, 8%);
  }
  // root节点样式
  &__item {
    position: relative;
    .item-dot {
      cursor: pointer;
      z-index: 3;
      content: '';
      border: 2px solid #fff;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $defaultColor;
      display: block;
      position: absolute;
      top: 23px;
      transform: translateY(-50%);
      left: -21px;
      transition: all 0.2s ease-in-out;
      transform-origin: center center;
      &:hover {
        box-shadow: 0 0 8px currentColor !important;
      }
    }
    // &::before {
    //   z-index: 3;
    //   content: '';
    //   border: 2px solid #fff;
    //   width: 12px;
    //   height: 12px;
    //   border-radius: 50%;
    //   background-color: $defaultColor;
    //   display: block;
    //   position: absolute;
    //   top: 23px;
    //   transform: translateY(-50%);
    //   left: -21px;
    //   transition: all 0.2s ease-in-out;
    //   transform-origin: center center;
    // }
    &.progress {
      font-weight: bold;
      .item-dot {
        background-color: $activeColor;
      }
    }
    &.progress-focus {
      .item-dot {
        width: 14px;
        height: 14px;
        // background-color: $activeColor;
        left: -22px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
  // 指示器样式
  .active-caret {
    font-size: 20px;
    color: $--color-primary;
    position: absolute;
    left: 1px;
    z-index: 1;
    transition: top $transitionTime ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  // 进度条样式
  .line {
    content: '';
    position: absolute;
    width: 2px;
    background-color: $defaultColor;
    left: 8px;
    &.back {
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      height: calc(100% - 84px);
    }
    &.middle {
      z-index: 2;
      background: repeating-linear-gradient(
        $activeColor 0px,
        $activeColor 4px,
        transparent 4px,
        transparent 7px
      );
      top: 38px;
      transition: height $transitionTime ease-in-out;
    }
    &.front {
      z-index: 2;
      background-color: $activeColor;
      top: 38px;
      transition: height $transitionTime ease-in-out;
    }
  }
}
