@import '../var/variable';
@import '../var/mixins';
.sc-tag {
  padding: 1.5px 7px 1.5px;
  display: inline-block;
  font-size: 13px;
  border-radius: 1px;
  color: #fff;
  line-height: 1.2;
  &.round {
    border-radius: $--border-radius-base;
  }
  &.is-primary {
    background-color: $--color-primary;
    border: 1px solid $--color-primary;
  }
  &.is-success {
    background-color: $--color-success;
    border: 1px solid $--color-success;
  }
  &.is-warning {
    background-color: $--color-warning;
    border: 1px solid $--color-warning;
  }
  &.is-statement {
    background-color: $--color-statement;
    border: 1px solid $--color-statement;
  }
  &.is-danger {
    background-color: $--color-danger;
    border: 1px solid $--color-danger;
  }
  &.plain {
    &.is-info {
      background-color: rgba($--color-info, 0.1);
      border: 1px solid $--color-info;
      color: $--color-info;
    }
    &.is-primary {
      background-color: rgba($--color-primary, 0.1);
      border: 1px solid $--color-primary;
      color: $--color-primary;
    }
    &.is-success {
      background-color: rgba($--color-success, 0.1);
      border: 1px solid $--color-success;
      color: $--color-success;
    }
    &.is-warning {
      background-color: rgba($--color-warning, 0.1);
      border: 1px solid $--color-warning;
      color: $--color-warning;
    }
    &.is-statement {
      background-color: rgba($--color-statement, 0.1);
      border: 1px solid $--color-statement;
      color: $--color-statement;
    }
    &.is-danger {
      background-color: rgba($--color-danger, 0.1);
      border: 1px solid $--color-danger;
      color: $--color-danger;
    }
  }
  & ~ & {
    margin-left: 6px;
  }
}
