@import '../var/variable';
@import '../var/mixins';
.sc-view {
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid $--border-color-base;
  padding-bottom: 5px;
  .sc-view-item {
    &-label {
      color: #777;
    }
    &-value {
      font-weight: bold;
      color: $baseFontColor;
    }
  }
  .is-primary {
    color: $--color-primary;
  }
  .is-warning {
    color: $--color-warning;
  }
  .is-required,
  .is-danger {
    color: $--color-danger;
  }
  .is-info {
    color: $--color-info;
  }
  .is-success {
    color: $--color-success;
  }
}
