// 弹性盒子

.flex {
  display: flex;
  &.is-align-center {
    align-items: center;
  }
  &.is-column {
    flex-direction: column;
  }
  &.is-row {
    flex-direction: row;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-start {
    justify-content: start;
  }
  &.is-end {
    justify-content: end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
  @for $i from 1 through 5 {
    & > .flex-#{$i} {
      flex: $i 0 0 !important;
    }
  }
}
